snippet hdr "Header"
! =============================================================================
!  $1
! -----------------------------------------------------------------------------
$2
! =============================================================================
endsnippet
